@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.sixcaps {
	font-family: "Six Caps";
}

.jura {
	font-family: "Jura";
}

.char {
	transform: translateY(15%) scale(0.5);
	opacity: 0;
	transition: transform 0.5s;
}
/* 
.fade-out {
	animation: fadeOutUp 0.3s forwards;
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.fade-in {
	animation: fadeInUp 0.3s forwards;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
 */
